{% load static %}
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col mb-3">
        <!--Card Unir PDFS-->
        <div class="card">
          <img src="{% static 'img/unirPDF2.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Unir PDFs</h3>
            <p class="card-text">Junta 2 o mas PDFs en uno solo documento...</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana1">Ir a
              la acción</button>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <!--Card Dividir PDFS-->
        <div class="card ">
          <img src="{% static 'img/dividirPDF3.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Divide PDFs</h3>
            <p class="card-text">Divide tu PDF en distintos documentos por cantidad de páginas</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana2">Ir a
              la acción</button>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <!--Card Girar PDFS-->
        <div class="card ">
          <img src="{% static 'img/GirarPDF4v3.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Girar y ordena las hojas un PDFs</h3>
            <p class="card-text"> Gira cualquier hoja del documento...</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana3">Ir a
              la acción</button>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <!--Card Girar PDFS-->
        <div class="card ">
          <img src="{% static 'img/montarPDF5v2.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Montar hojas PDFs</h3>
            <p class="card-text">Montar una hoja sobre otra..</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana4">Ir a
              la acción</button>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <!--Card Extraer PDFS-->
        <div class="card ">
          <img src="{% static 'img/dividirPDF3.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Extraer Pag PDF</h3>
            <p class="card-text">Extrae una pag exacta de tu documento...</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana5">Ir a
              la acción</button>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <!--Card Extraer Range PDFS-->
        <div class="card ">
          <img src="{% static 'img/dividirPDF3.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Extraer Rango Pag PDF</h3>
            <p class="card-text">Extrae un rango de pags exacta de tu documento...</p>
            
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana6">Ir a
              la acción</button>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <!--Card tamaño hoja PDFS-->
        <div class="card ">
          <img src="{% static 'img/dividirExpandir.jpg' %}" class="card-img-top2"
            style="height:150px; width:300px;  padding-top: 8px; margin-left:2px;">
          <div class="card-body">
            <h3 class="card-title">Cambiar tamaño de hoja PDF</h3>
            <p class="card-text">Cambiar el tamaño de un documento...</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ventana7">Ir a
              la acción</button>
          </div>
        </div>
      </div>

    </div>
  </div>